html, body{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    font-size: 100%;
}

h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}

.obra{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.cartel{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.encabezado{
    font-family: cursive;
    font-size: 3.5rem;
    color: white;
    text-align: center;
    letter-spacing: 2pt;
    margin-top: 7%;
    margin-bottom: 10%;
}

.precio{
    font-family: sans-serif;
    font-size: 12rem;
    color: white;
    text-align: center;
    margin: 0 auto;
}


.boton {
    width: 100%;
    height: 30%;
    background-color: #000;

    font-family: cursive;
    font-size: 7rem;
    color: #fff;

    border-radius: 40pt;
    opacity: 0.5;
    margin-top: 7%;
}


.logo{
    width: 25vw;
    height: 25vw;
    display: block;
    margin: 12% auto;
    border-radius: 100%;
    background-color: #fff;
}

.vivi{
    width: 80%;
    margin-left: 10%;
    margin-top: 32%;
}

.input{
    width: 100%;
    height: 10%;
    font-size: 3.5rem;
    text-align: center;
    margin-top: 7%;
}

.parrafo{
    font-size: 5.5rem;
    font-family: cursive;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;

}

.precio-chiquito{
    font-family: sans-serif;
    font-size: 8rem;
    color: white;
    text-align: center;
    margin: 0 auto;
}

.detener{
    width: 70%;
    height: 20%;
    background-color: crimson;
    border-radius: 15pt;

    margin-top: 5%;
    margin-left: 15%;

    font-size: 7rem;
    color: #fff;
    letter-spacing: 2pt;
}


/* cuenta regresiva  http://codepen.io/MehmetCanker/pen/jluqp */

/* formas de centrar -> https://escss.blogspot.com/2012/05/centrando-al-centro-con-css-16-maneras.html */
